/.phpunit.cache
#/node_modules
#/public/build
#/public/hot
#/public/storage
#/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/cdr_path/*
!/storage/cdr_path/.gitkeep

/storage/xml_path/*
!/storage/xml_path/.gitkeep

/storage/pdf_path/*
!/storage/pdf_path/.gitkeep

/storage/cdr_path_anulled/*
!/storage/cdr_path_anulled/.gitkeep

/storage/xml_path_anulled/*
!/storage/xml_path_anulled/.gitkeep

/storage/pdf_path_anulled/*
!/storage/pdf_path_anulled/.gitkeep
