/*
   |--------------------------------------------------------------------------
   | Fonts
   |--------------------------------------------------------------------------
   |
   | Import all fonts used in the template, the font configuration can be
   | seen in "tailwind.config.js".
   |
   | Please check this link for more details:
   | https://tailwindcss.com/docs/theme
   |
   */
@import "./fonts/_public-sans.css";

/*
   |--------------------------------------------------------------------------
   | Components
   |--------------------------------------------------------------------------
   |
   | Import CSS components.
   |
   */
@import "./components/_box.css";
@import "./components/_global.css";
@import "./components/_image-fit.css";
@import "./components/_scrollbar-hidden.css";
@import "./components/_typing-dots.css";
@import "./components/_zoom-in.css";



/*Custom Container CSS*/
@media (min-width: 1320px) {
    .container {
        max-width: 100% !important;
    }
}

.plugin-clear_button .clear-button {
    font-size: 35px;
    transform: translateY(-80%) !important;
}

.tom-select.ts-wrapper .ts-control, .tom-select.plugin-dropdown_input.focus.dropdown-active .ts-control{
    background-color: #fff !important;
}

/*
   |--------------------------------------------------------------------------
   | Utility Classes
   |--------------------------------------------------------------------------
   |
   | Custom utility classes used across the application.
   |
   */
.mark-green { color: #28a745; font-weight: bold; }
.mark-red   { color: #dc3545; font-weight: bold; }

@tailwind base;
@tailwind components;
@tailwind utilities;
